git+https://github.com/Rapptz/discord.py
python-csv
discord  
discord-buttons  
discord-components  
discord-select-menus  
discord.py  
dotenv
datetime
matplotlib   
mplfinance  
mypy-extensions  
os 
pandas  
pandas-datareader 
pipenv  
python-dotenv   
Quandl  
